# Extas settings
EXTAS__BASE_PATH = "/var/www/alice-extas-example/src"
EXTAS__DRIVER = "mongo"
EXTAS__DSN = "mongodb://localhost:27017/"
EXTAS__DB = "alice_example"
EXTAS__CONTAINER_PATH_STORAGE_LOCK = "${EXTAS__BASE_PATH}/configs/container.php"
EXTAS__CONTAINER_PATH_STORAGE = "${EXTAS__BASE_PATH}/configs/container.json"
EXTAS__DRIVERS_STORAGE_PATH = "${EXTAS__BASE_PATH}/configs/drivers.json"

#Alice settings
ALICE__THROW_ON_ERROR="0"
ALICE__DB = "alice_example"